<form class="example-form"> 
<div>  <mat-form-field class="example-full-width">
    <input [(ngModel)] = 'email' name = 'email'   matInput placeholder="Email">
    <mat-hint>Please enter your email</mat-hint>
    <div class ="warn"  *ngIf ="code == 'auth/invalid-email'">{{message}}</div>

  </mat-form-field></div>

<div><mat-form-field class="example-full-width">
    <input [(ngModel)] = 'password' name = 'password'  matInput placeholder="Password">
    <mat-hint>Please enter your Password</mat-hint>
    <div class ="warn" *ngIf ="code == 'auth/invalid-email'">{{message}}</div>
    <div class ="warn"  *ngIf ="code == 'auth/user-not-found'">{{message}}</div>


  </mat-form-field></div>
     

  <button mat-raised-button (click)= "login()">Login </button>
  <div *ngIf ="code == 'auth/argument-error'">{{message}}</div>

</form>
