<mat-card class="example-card">
  <mat-card-actions>

<a *ngIf= "!(auth.user | async)" routerLink= "/Login">Login</a>
<a routerLink= "/Items">Items</a>
<button *ngIf="auth.user | async" mat-raised-button (click)= "logout()">Logout </button>

</mat-card-actions>
</mat-card>