<span (mouseenter) = "showbutton()"
(mouseleave) = "notshowbutton()"> 
<li>
  {{name}}-{{price}}
  <mat-checkbox class="example-margin" (change)="update()" [(ngModel)]="checked">in stock</mat-checkbox>

  <button mat-raised-button *ngIf = "showbutton1" (click)= "show2button()">
    press to delete
  </button>

  <button mat-raised-button *ngIf = "show2" (click)= "cancel()">
      Cancel 
    </button>
    
  <button mat-raised-button *ngIf = "show2" (click)= "delete()">
      to delete 
    </button>
</li>
</span>
